@import "../main.scss";
introduce .hidden {
  display: none;
}

.topimg {
  height: 40vh;
  width: 100%;
  background: {
    image: url("/img/7_1695107556163.png");
    repeat: no-repeat;
    position: center;
    size: cover;
  }
}
.hidden {
  display: none;
}
.introduce {
  padding: 20px;
  background-color: #f4c15d;
  height: 60vh;
  text-align: center;
  position: relative;
  h2 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 2vw;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top: 2%;
  }
  &__wrapper {
    width: 80%;
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;

    div {
      img {
        width: 100%;
      }
    }
    & :nth-child(1) {
      margin-right: -20px;
    }
    & :nth-child(2) {
    }
    & :nth-child(3) {
      margin-left: -20px;
      margin-right: 20vw;
    }
    & :nth-child(4) {
    }
  }
}

.introduce__wrapper > div {
  position: relative; /* 상대적 위치 설정 */
  text-align: center; /* 텍스트를 가운데로 정렬 */
}
.introduce__wrapper > div > h3 {
  font-weight: 900;
  font-size: 1.5vw;
  position: absolute; /* 절대적 위치 설정 */
  top: 50%; /* 상위 요소의 중앙에 위치 */
  left: 50%; /* 상위 요소의 중앙에 위치 */
  transform: translate(-50%, -50%); /* 자신의 중앙을 기준으로 이동 */
  z-index: 1; /* 이미지 위에 텍스트가 오도록 z-index 설정 */
}

.back2 {
  width: 100%;
  height: 30vh;
  background-image: url("/img/mago.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.slider-wrapper {
  position: relative;
  height: 100vh;
}

.swiper-wrapper {
  position: absolute;
  top: 50%;
  left: 30%;
  display: flex;
  justify-content: center;
}
.swiper {
  width: 50%;
  margin-left: $navbar-width;
}
.swiper-slide {
  width: 50%;
  border-radius: 10px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  img {
    width: 100%;
  }
}
