@import "../main.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.add-container {
  @include container;
  background-color: transparent;
  border: 4px dashed #fff;
}

.sortable-ghost {
  opacity: 0.6;
}

.loadingBackground {
  /* 기존 스타일 유지 */
  display: none; /* 기본적으로 숨김 */
}

.loadingBackground.active {
  display: flex; /* 활성화될 때만 표시 */
}

.hidden {
  display: none;
}
