@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
$navbar-width: 160px;

html {
  font-size: 16px;
  overflow-x: hidden;
}
nav {
  width: $navbar-width;
  box-sizing: border-box;
}

@mixin container {
  box-sizing: border-box;
  width: 400px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.Todo-Section {
  position: relative;
  width: calc(120% - ($navbar-width));
  padding: 200px 0px 0px;
  min-height: 100vh;
  background-size: cover;
  background-position: center 0%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  scrollbar-width: none; /* 파이어폭스 */
  -ms-overflow-style: none; /* IE 10+ */
  background: {
    image: url("/img/207662_218776_1753.jpg");
    repeat: no-repeat;
    attachment: fixed;
  }
  // &::after {
  //   content: "";
  //   backdrop-filter: blur(2px);
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  // }
}

.Todo-Section::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라 브라우저 */
}
.sannabi-scroll {
  // position: relative;
  // right: calc(-1 * ($navbar-width));
  width: 100%;
  margin-left: calc($navbar-width);
}

.about {
  // position: relative;
  // right: calc(-1 * ($navbar-width));
  width: calc(100% - $navbar-width);
  margin-left: calc($navbar-width);
}
.hidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  .sannabi-scroll {
    display: none;
  }
  .about {
    margin-left: 0;
    width: 100%;
  }
  header {
    display: none;
  }
}
