$navbar-width: 120px;

html {
  font-size: 16px;
}

nav {
  width: $navbar-width;
  box-sizing: border-box;
}

body {
  height: 200vh;
  // background-color: #e1e3e8;
  background-size: cover;
  background-position: center;
  background: {
    image: url("mago.webp");
    background-color: rgba(255, 255, 255, 0.828);
    backdrop-filter: blur(10px);
    repeat: no-repeat;
    attachment: fixed;
  }
}
#router-view {
  margin-left: $navbar-width;
}

@mixin container {
  box-sizing: border-box;
  width: 600px;
  height: 200px;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
