@import "./reset.scss";
$navbar-width: 120px;

html {
  font-size: 16px;
}

nav {
  width: $navbar-width;
  box-sizing: border-box;
}

@mixin container {
  box-sizing: border-box;
  width: 600px;
  height: 200px;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.Todo-Section {
  padding: 20%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;

  background: {
    image: url("/src/img/mago.webp");
    repeat: no-repeat;
    attachment: fixed;
  }
  backdrop-filter: blur(10px);
}
